/*body
{
    /**background: rgb(110, 108, 108);/*se pinta el fondo con background eligiendo a body
}*/
#ElFooter
{
    background: #79d61b;/*se toma el ID de la etiqueta a cambiar*/
}
#parrafo
{
    background: rgb(88, 43, 43);
}
.seccion
{
    background: royalblue;/*elegimos la clase creada y pintamos toda etiqueta asociada a ella*/
}
#h2
{
    border: 1px black;
}
li
{
    text-decoration: underline;/*se añade una linea decorativa debajo de la palabra dentro del (li)*/
}